#wrapper {
    max-width: 960px;
    margin: 0 auto;
}

body {
    width: 100%;
    background-color: #e0e0e0;
    font-family: "Times New Roman", Serif;
    align-content: center;
    color: #5C5B5B;
}

a{
    color: #5C5B5B;
    text-decoration: none;
}

header {
    padding: 40px 0px 40px 40px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#feedbackimg{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}

header,
footer {
    background-color: #049372;
}

nav {}

.content {
    padding-top: 1px;
    padding-left: 40px;
    padding-right: 2%;
    padding-bottom: 2em;
    background-color: white;
}

.navUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
    overflow: hidden;
}

.navLi {
    float: left;
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    text-align: center;
}

.navLi:first-child{
    padding-left: 40px;
}

.navLi a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.navLi a:hover {
    background-color: #7f8c8d;
    color: white;
    width: 100%;
    text-align: center;
}

#event {
    border-color: #F5F5F5;
    border-bottom-style: solid;
    border-bottom-color: #ecf0f1;
    border-bottom-width: 3px;
    padding: 10px 0px 10px 0px;
    overflow: auto;
}

#event img{
    float: left;
    margin: 0 10px 10px 0;
}

.event h2 {
    margin-top: 0;
}

.event p {
    margin: 10px 10px 10px 10px;
}

footer {
    padding: 5px 5px 5px 40px;
    color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#contactform input, #contactform textarea {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}

#contactform input[type=text],#contactform textarea {
    width: 30em;
}

#contactform input:focus, #contactform textarea:focus {
    box-shadow: 0 0 5px 0 #2a9898;
}

#contactform label {
    float: left;
    width: 10em;
    margin-right: 1em;
}

#contactform .missing {
    border: 3px solid #36B3B3;
}